.sectionBigCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50rem;
  height: 25rem;
  text-align: center;
  background-color: var(--ypn-color-white);
  box-shadow: var(--ypn-shadow-xxl);
  margin-bottom: var(--ypn-padding-margin-xl);
}

.izqArticle {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  height: 100%;
  width: 30%;
  padding: var(--ypn-padding-margin-m);
  border-right: solid 1px var(--ypn-color-primary);
}

.izqArticle p {
  font-size: var(--ypn-font-size-m);
  height: auto;
  margin: 0;
  text-align: left;
  margin-bottom: var(--ypn-padding-margin-m);
}

.dchArticle {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  padding: var(--ypn-padding-margin-m) var(--ypn-padding-margin-l);
  height: 100%;
  width: 70%;
  box-sizing: border-box;
}

.dchArticle p {
  font-size: var(--ypn-font-size-m);
  text-align: left;
}

.titulos {
  color: var(--ypn-color-primary);
  font-weight: var(--ypn-font-weight-extrabold);
  font-size: 1.3rem;
}

.izqPortafolio {
  width: 50%;
  border: none;
}

.izqPortafolio p {
  text-align: justify;
}

.dchPortafolio {
  width: 50%;
  padding: 0;
  padding: var(--ypn-padding-margin-xl) var(--ypn-padding-margin-m);
}

.dchPortafolio img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

@media (max-width: 550px) {
  .sectionBigCard {
    flex-direction: column;
    width: 25rem;
    height: auto;
  }
  .izqArticle {
    width: 100%;
  }
  .dchArticle {
    width: 100%;
    padding: var(--ypn-padding-margin-m);
  }
}

@media (max-width: 690px) and (min-width: 551px) {
  .sectionBigCard {
    flex-direction: column;
    width: 30rem;
    height: auto;
  }
  .izqArticle {
    border: none;
    width: 100%;
  }
  .dchArticle {
    width: 100%;
    padding: var(--ypn-padding-margin-m);
  }
}

@media (max-width: 900px) and (min-width: 691px) {
  .sectionBigCard {
    width: 40rem;
  }
}
